{%- comment -%}LINE coupon button under add-to-cart{%- endcomment -%}
{%- assign line_coupon_link = 'https://lin.ee/dli0aMV' -%}
<a
  class="line-coupon-button"
  href="{{ line_coupon_link }}"
  target="_blank"
  rel="noopener noreferrer"
  aria-label="LINE友達追加で限定クーポン"
>
  <span class="line-coupon-button__content">
    <img
      class="line-coupon-button__icon"
      src="https://cdn.shopify.com/s/files/1/0891/2509/3745/files/Line_a8ed838a-99f8-44f7-9e38-8c0923cf442d.png?v=1768971340"
      alt="LINE"
      width="44"
      height="44"
      loading="lazy"
    >
    <span class="line-coupon-button__text">LINE友達追加で限定クーポン</span>
    <span class="line-coupon-button__arrow" aria-hidden="true">≫</span>
  </span>
</a>
